@import "tailwindcss";
@config "../../tailwind.config.js";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* For iOS scroll momentum */
.scroll-container {
  -webkit-overflow-scrolling: touch;
}